@import "tailwindcss";

@theme {
  --color-inverse-surface: #faf8ff;
  --color-error-dim: #d73357;
  --color-on-tertiary-container: #1b0017;
  --color-surface-bright: #1f2b49;
  --color-tertiary: #ff59e3;
  --color-on-error: #490013;
  --color-error-container: #a70138;
  --color-primary-fixed-dim: #9c7eff;
  --color-on-tertiary: #42003a;
  --color-on-secondary-fixed: #003855;
  --color-on-background: #dee5ff;
  --color-secondary-dim: #00a7f2;
  --color-outline: #6d758c;
  --color-secondary-fixed: #a7d7ff;
  --color-primary-dim: #7e51ff;
  --color-surface-container-low: #091328;
  --color-on-primary-fixed-variant: #32008a;
  --color-on-primary: #340090;
  --color-tertiary-fixed-dim: #ff68e3;
  --color-secondary-container: #006493;
  --color-on-surface-variant: #a3aac4;
  --color-surface-dim: #060e20;
  --color-surface-container: #0f1930;
  --color-on-secondary-fixed-variant: #00567f;
  --color-background: #060e20;
  --color-on-primary-container: #280072;
  --color-on-primary-fixed: #000000;
  --color-on-error-container: #ffb2b9;
  --color-surface-tint: #b6a0ff;
  --color-on-secondary: #002a42;
  --color-on-tertiary-fixed: #33002d;
  --color-tertiary-dim: #ff59e3;
  --color-primary: #b6a0ff;
  --color-tertiary-container: #ff05e5;
  --color-surface-container-highest: #192540;
  --color-on-secondary-container: #f3f8ff;
  --color-surface: #060e20;
  --color-on-surface: #dee5ff;
  --color-outline-variant: #40485d;
  --color-primary-container: #a98fff;
  --color-secondary: #00affe;
  --color-on-tertiary-fixed-variant: #6d0061;
  --color-secondary-fixed-dim: #86cbff;
  --color-surface-variant: #192540;
  --color-error: #ff6e84;
  --color-primary-fixed: #a98fff;
  --color-tertiary-fixed: #ff85e4;
  --color-surface-container-lowest: #000000;
  --color-inverse-primary: #6834eb;
  --color-inverse-on-surface: #4d556b;

  --font-headline: 'Space Grotesk', sans-serif;
  --font-body: 'Manrope', sans-serif;
}

@layer base {
  :root {
    --background: #060e20;
    --foreground: #dee5ff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(182, 160, 255, 0.2);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(182, 160, 255, 0.4);
}
.scanline {
    background: linear-gradient(to bottom, transparent 50%, rgba(255,255,255,0.02) 51%);
    background-size: 100% 4px;
}
.crt-glow {
    text-shadow: 0 0 5px rgba(182, 160, 255, 0.4);
}
